includes:
  - %currentWorkingDirectory%/vendor/phpstan/phpstan-beberlei-assert/extension.neon
  - %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/extension.neon

services:
  -
    class: PcComponentes\PHPStan\BeberleiAssert\AssertionChainTypeSpecifyingExtension
    tags:
      - phpstan.typeSpecifier.methodTypeSpecifyingExtension
  -
    class: PcComponentes\PHPStan\BeberleiAssert\LazyAssertionVerifyNowTypeSpecifyingExtension
    tags:
      - phpstan.typeSpecifier.methodTypeSpecifyingExtension
